<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 sm-0 mx-auto">
<h1>グループ編集</h1>

<% if @group.errors.any? %>
  <%= @group.errors.count %>件のエラーが発生しました
  <ul>
    <% @group.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @group, url: group_path(@group), method: :patch do |f| %>

<div class="form-group">
  <label for="name">グループ名</label>
  <br>
  <%= f.text_field :name %>
  </div>
  
  <div class="form-group">
  <label for="theme">テーマ</label>
  <br>
  <%= f.text_area :theme %>
  </div>

  <div class="form-group">
   <%= f.submit '更新する', class: "btn btn-md btn-warning" %>
  </div>
<% end %>

</div>
</div>
</div>