<h1>グループ一覧</h1>
  <%= link_to "グループ作成", new_group_path %>

    <table class ="table">
    <thead>
    <tr>
    <th>グループ名</th>
    <th>テーマ</th>
    <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @groups.each do |group| %>
    <tr>
    <td><%= link_to group_path(group.id) do %>
          <%= group.name %>
          <% end %></td>
    <td><%= group.theme %></td>
    <td>
      <% if group.is_owned_by?(current_user) %>
       <%= link_to 'グループ編集', edit_group_path(group.id), class: "btn btn-md btn-warning" %>
      <% end %>
    </td>
    </tr>
    <% end %>
  </tbody>

</table>
