  <div class="container">
  <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 sm-0 mx-auto">

<h1>投稿編集</h1>
<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @post, url: post_path(@post), method: :patch do |f| %>

  <div class="form-group">
  <label for="title">タイトル</label>
  <br>
  <%= f.text_field :title %>
  </div>
  
  <div class="form-group">
  <label for="body">感想</label>
  <br>
  <%= f.text_area :body %>
  </div>
  
   <% if @post.user == current_user %>
   <div class="form-group">
     <div class="btn-group" role="group" id="buttonGroup">
     <% if @post.persisted? %>
      <% if @post.draft? %>
        <%= f.submit '非公開にする', id: 'unpublishButton', name: 'unpublished', class: "btn btn-sm btn-primary" %>
        <%= f.submit '公開する', id: 'publishButton', name: 'published', class: "btn btn-sm btn-success" %>
      <% elsif @post.unpublished? %>
        <%= f.submit '下書き保存', id: 'draftButton', name: 'draft', class: "btn btn-sm btn-secondary" %>
        <%= f.submit '公開する', id: 'publishButton', name: 'published', class: "btn btn-sm btn-success" %>
      <% else %>
        <%= f.submit '下書き保存', id: 'draftButton', name: 'draft', class: "btn btn-sm btn-secondary" %>
        <%= f.submit '更新する', id: 'publishButton', name: 'published', class: "btn btn-sm btn-warning" %>
        <%= f.submit '非公開にする', id: 'unpublishButton', name: 'unpublished', class: "btn btn-sm btn-primary" %>
      <% end %>
    <% else %>
        <%= f.submit '下書き保存', id: 'draftButton', name: 'draft', class: "btn btn-sm btn-secondary" %>
        <%= f.submit '公開する', id: 'publishButton', name: 'published', class: "btn btn-sm btn-success" %>
    <% end %>
        <%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %>
   </div>
  </div>
<% end %>
<% end %>

 </div>
 </div>
 </div>

 <div class="container">
 <div class="row">
   <div class="col-md-6 offset-md-3">

  <div class = "tabs d-flex justify-content-between align-items-center">
   <ul class="nav nav-tabs">
   <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#published">公開中</a>
   </li>
   <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#draft">下書き</a>
   </li>
   <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#unpublished">非公開</a>
   </li>
   </ul>
  </div>

  <div class="tab-content">
    <div id="published" class="tab-pane fade show active">
      <% @published_posts&.each do |post| %>
        <li>
        <%= link_to post.title, post_path(post) %>
        </li>
        <p><%= post.body %></p>
      <% end %>
    </div>

    <div id="draft" class="tab-pane fade">
      <% @draft_posts&.each do |post| %>
        <li>
        <%= link_to post.title, post_path(post) %>
        </li>
        <p><%= post.body %></p>
      <% end %>
    </div>

    <div id="unpublished" class="tab-pane fade">
      <% @unpublished_posts&.each do |post| %>
        <li>
        <%= link_to post.title, post_path(post) %>
        </li>
        <p><%= post.body %></p>
      <% end %>
    </div>

</div>
</div>
</div>
</div>