<div class="container">
 <div class="row">
  <div class="col-md-3">

  <div class="col-md-8 offset-md-1">
  <h2>マイページ</h2>

  <div>
  <h3><%= @user.name %></h3>
 
  <% if @user == current_user %>
  <p><%= link_to 'マイページ編集', edit_user_path(@user) %>
  <p><%= link_to '退会', user_path(@user), class: "destroy-user", method: :delete, "data_confirm" => "本当に退会しますか？" %></P>
  <% end %> 
  </div>

  <table class=table>
  <thead>
  <tr>
  <th>タイトル</th>
  <th>感想</th>
  <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @posts.each do |post| %>
  <tr>
  <td>ユーザーネーム：<%= post.user.name %></td>
  <td>タイトル：<%= post.title %></td>
  <td>感想：<%= post.body %></td>
  <td>
  <%= link_to '感想詳細', post_path(post.id), class: "btn btn-md btn-secondary" %>
  </td>
  </tr>
  <% end %>
  </tbody>
</table>
</div>
</div>
</div>