<div>
  <h3><%= @user.name %></h3>
</div>

<% @posts.each do |post| %>
<div>
  <p>ユーザーネーム：<%= post.user.name %></p>
  <p>タイトル：<%= post.title %></p>
  <p>感想：<%= post.body %></p>
  <li>
  <%= link_to '感想詳細', post_path(post.id) %>
  </li>
</div>
<% end %>