  <div class="container">
  <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 sm-0 mx-auto">

<h1>投稿編集</h1>
<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました！
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @post, url: post_path(@post), method: :patch do |f| %>

 <div class="form-group">
  <label for="title">タイトル</label>
  <br>
  <%= f.text_field :title %>
  </div>
  
  <div class="form-group">
  <label for="body">感想</label>
  <br>
  <%= f.text_area :body %>
  </div>
  
  <div class="form-group">
  <%= f.submit '更新', class: "btn btn-md btn-warning" %>
  </div>
  
  <% end %>
  </div>
 </div>
 </div>