<h1 class="mt-2">感想投稿フォーム</h1>

<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @post do |f| %>
  
  <div class="form-group">
  <label for="title">タイトル</label><br>
  <%= f.text_field :title %>
  </div>

  <div class="form-group">
  <label for="body">感想</label><br>
  <%= f.text_area :body, class: 'form-control', size: "30×20" %>
  <%= f.submit '公開する', class: "btn btn-md btn-Warning" %>
  </div>

<% end %>
