<div class="container">
 <div class="row">

  <div class ="col-lg-10 col-md-10 mx-2 mx-sm-auto">
  <h2>投稿詳細</h2>

  <table class="table">
  <tbody>
  <tr>
  <td>ユーザーネーム：
      <%= link_to user_path(current_user.id) do %>
      <%= @post.user.name %>
      <% end %></td>

  <td>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></td>
  <td>タイトル：<%= @post.title %></td>
  <td>本文：<%= @post.body %></td>

  <% if @post.user == current_user %>
    <tr>
    <td><%= link_to "編集", edit_post_path(@post.id), class: "btn btn-lg btn-warning" %></td>
   
    <td><%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-lg btn-danger" %></td>
  <% end %>
  <tr>
 </tbody>
 </table>
 
 <div>
  <p>コメント件数：<%= @post.comments.count %></p>
  <% @post.comments.each do |comment| %>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.body %>
  <% end %>
</div>
<div>
  <%= form_with model: [@post, @comment] do |f| %>
    <%= f.text_area :body, rows: '5', placeholder: "コメントはこちらへ" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>

</div>
</div>
</div>